version: "3.9"

services:
  relser-bot:
    container_name: ${DOCKER_CONTAINER:-reelser-bot}
    image: ${DOCKER_IMAGE:-reelser-bot}:${DOCKER_TAG:-latest}
    build:
      context: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./tmp:/app/tmp

